#first_div {
    position: relative;
    width: 1200px;
    height: 700px;
    background-color: #808080;
}

#second_div {
    position: absolute;
    left: 0px;
    width: 1200px;
    height: 50px;
    background-color: #da4f49;
}

#third_div {
    position: absolute;
    display: inline;
    left: 0px;
    top: 50px;
    height: 650px;
    width: 100px;
    background-color: lightgrey;
}

#fourth_div {
    position: relative;
    background-color: #7ab5d3;
    top: 50px;
    left: 750px;
    width: 450px;
    height: 650px;

}

#table_view {
    position: absolute;
    left: 100px;
    top: 50px;
    width: 650px;
    height: 650px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #ffffff;
}

#text_field {
    position: absolute;
    background-color: #ffffff;
    left: 50px;
    top: 50px;
    height: 550px;
    width: 350px;
    overflow-y: scroll;
}

#segm {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 80px;
}

.modal-header{
    text-align: center;
}

.modal{
    display: none;
}

.formula{
    height: 100px;
    width: 200px;
}